<div class="row">
  <div class="col-lg-12">
    <div class="row">
      <div>
            <h2 id="nav-tabs">Tabs</h2>
            <div class="bs-component">
              <ul class="nav nav-tabs">
                <li class="active"><a href="#home" data-toggle="tab" aria-expanded="false">Add Menu</a></li>
                <li class=""><a href="#profile" data-toggle="tab" aria-expanded="false">General Setting</a></li>
                <li class=""><a href="#gallery" data-toggle="tab" aria-expanded="false">Gallery</a></li>
              </ul>
              <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active in" id="home">
                  <div class="row">
                    <div class="col-lg-12">
                      <app-menu></app-menu>
                    </div>
                  </div>

                </div>
                <div class="tab-pane fade" id="profile">
                   <div class="row">
                    <div class="col-lg-12">
                      <app-menu></app-menu>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="gallery">
                   <div class="row">
                    <div class="col-lg-12">
                      <app-menu></app-menu>
                    </div>
                  </div>
                </div>
             
              </div>
            <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div></div>
          </div>
    </div>
    
  </div>

</div>