
  <div class="login-page">
  <div class="form">

    <form class="login-form" [formGroup]="userForm">
      <input type="email" placeholder="username" formControlName="username">
        <div class="error" *ngIf="!userForm.controls['username'].valid && userForm.controls['username'].touched">
          Enter valid username
          </div>
      <input type="password" formControlName="password" placeholder="password">
        <div *ngIf="!userForm.controls['password'].valid && userForm.controls['password'].touched">
          inter valid password please
        </div>
      <button (click)="login(userForm.value)">login</button>
      <p class="message">Not registered? <a routerLink="../register">Create an account</a></p>
    </form>
  </div>
</div>



