  <div class="login-page">
    <h3 align="center">User Registration</h3>
  <div class="form">
    <form class="register-form" [formGroup]="registerForm">
      <input type="text" placeholder="name" formControlName="name" required>
        <div *ngIf="!registerForm.controls['name'].valid&&registerForm.controls['name'].touched">please enter your name</div>
      <input type="password" placeholder="password" fromControlName="password" required>
         <div *ngIf="!registerForm.controls['password'].valid&&registerForm.controls['password'].touched">password must contain alphanumerc value between 8-20</div>
      <input type="email" placeholder="email" formControlName="email" required>
                <div *ngIf="!registerForm.controls['email'].valid&&registerForm.controls['email'].touched">please enter your valid email</div>
      <input type="text" placeholder="Contact" formControlName="contact" required>
              <div *ngIf="!registerForm.controls['contact'].valid&&registerForm.controls['contact'].touched">please enter valid Number</div>
      <button (click)="addUser(registerForm.value)" [disabled]="!registerForm.valid">create</button>
      {{registerForm}}
      <p class="message">Already registered? <a routerLink="../login">Sign In</a></p>
    </form>
 
  </div>
</div>